.titlefont {
	font-family: Courier New, Courier, monospace;
}
.practicefont {
	font-family: MS Serif, New York, serif;
}
.practicefont {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
.practicefont {
	font-family: Tahoma, Geneva, sans-serif;
}
.practicefont {
	font-family: Tahoma, Geneva, sans-serif;
}
.practicefont {
	font-family: Tahoma, Geneva, sans-serif;
}
.practicefont {
	font-family: Tahoma, Geneva, sans-serif;
}
.practicefont {
	font-family: fantasy;
}
.practicefont {
	font-family: fantasy;
}
.practicefont .practicefont {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.practicefont .practicefont {
	font-family: fantasy;
}
.practicefont .practicefont {
	font-family: Comic Sans MS, cursive;
}
.practicefont .practicefont {
	font-family: Tahoma, Geneva, sans-serif;
}
.tr {
	font-family: "Courier New", Courier, monospace;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
}
.HeadingFont {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.practicefont .HeadingFont {
	font-family: Verdana, Geneva, sans-serif;
}
.practicefont .HeadingFont {
	font-family: Verdana, Geneva, sans-serif;
}
.practicefont .HeadingFont {
	font-family: Verdana, Geneva, sans-serif;
}
.practicefont .HeadingFont {
	font-family: Comic Sans MS, cursive;
}
.practicefont .HeadingFont {
	font-family: Comic Sans MS, cursive;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
.body {
	background-color:lightblue;
}